<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.earth_chat.chatroom.mapper.ChatroomMapper">

    <insert id="insertChatroom" parameterType="com.earth_chat.chatroom.vo.ChatroomVo" useGeneratedKeys="true" keyColumn="chatroom_seq" keyProperty="chatroomSeq">
        INSERT INTO chatroom_info
        (
            chatroom_name,
            chatroom_description,
            owner_seq,
            max_participant_num,
            use_yn,
            public_yn,
            room_pwd,
            reg_dt,
            mod_dt
        )
        VALUES
        (
            #{chatroomName},
            #{chatroomDescription},
            #{ownerSeq},
            #{maxParticipantNum},
            'Y',
            #{publicYn},
            #{roomPwd},
            NOW(),
            NOW()
        )
    </insert>

    <select id="selectChatroomAsPagination" resultType="com.earth_chat.chatroom.vo.ChatroomVo">
        SELECT
            c.chatroom_seq,
            c.chatroom_name,
            c.chatroom_description,
            c.owner_seq,
            u.nickname AS ownerNickname,
            c.max_participant_num,
            (
                SELECT COUNT(*)
                FROM chatroom_participant p
                WHERE p.chatroom_seq = c.chatroom_seq
            ) AS currentParticipantNum,
            c.use_yn,
            c.public_yn,
            c.room_pwd,
            c.reg_dt,
            c.mod_dt
        FROM chatroom_info c
        LEFT OUTER JOIN user_info u
        ON c.owner_seq = u.user_seq
        WHERE c.use_yn = 'Y'
        <if test="text != null and text != ''">
            AND (
            c.chatroom_name ILIKE '%' || #{text} || '%'
            OR c.chatroom_description ILIKE '%' || #{text} || '%'
            )
        </if>
        <if test="filter != null and filter.name() == 'PUBLIC'">
            AND c.public_yn = 'Y'
        </if>
        ORDER BY reg_dt DESC
        LIMIT #{size}
        OFFSET #{page}
    </select>

    <select id="selectTotalCountAsPagination" resultType="java.lang.Long">
        SELECT
            COUNT(*)
        FROM chatroom_info c
        LEFT OUTER JOIN user_info u
        ON c.owner_seq = u.user_seq
        WHERE c.use_yn = 'Y'
        <if test="text != null and text != ''">
            AND (
                c.chatroom_name ILIKE '%' || #{text} || '%'
                OR c.chatroom_description ILIKE '%' || #{text} || '%'
            )
        </if>
        <if test="filter != null and filter.name() == 'PUBLIC'">
            AND c.public_yn = 'Y'
        </if>
        LIMIT #{size}
        OFFSET #{page}
    </select>

    <select id="selectChatroomByChatroomSeq" resultType="com.earth_chat.chatroom.vo.ChatroomVo">
        SELECT
            c.chatroom_seq,
            c.chatroom_name,
            c.chatroom_description,
            c.owner_seq,
            c.max_participant_num,
            c.use_yn,
            c.public_yn,
            c.room_pwd,
            c.reg_dt,
            c.mod_dt
        FROM chatroom_info c
        WHERE c.chatroom_seq = #{chatroomSeq}
    </select>

    <delete id="deleteChatroom">
        DELETE FROM chatroom_info
        WHERE chatroom_seq = #{chatroomSeq}
    </delete>

    <insert id="insertChatroomParticipant" parameterType="com.earth_chat.chatroom.vo.ChatroomParticipantVo">
        INSERT INTO chatroom_participant(participant_seq, chatroom_seq, participant_type)
        VALUES (#{participantSeq}, #{chatroomSeq}, #{participantType})
    </insert>

    <update id="updateChatroom" parameterType="com.earth_chat.chatroom.vo.ChatroomVo">
        UPDATE chatroom_info
        SET
            chatroom_name = #{chatroomName},
            chatroom_description = #{chatroomDescription},
            max_participant_num = #{maxParticipantNum},
            public_yn = #{publicYn},
            room_pwd = #{roomPwd},
            mod_dt = NOW()
        WHERE chatroom_seq = #{chatroomSeq}
        AND use_yn = 'Y'
    </update>
</mapper>