<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.earth_chat.user.mapper.UserMapper">

    <select id="existsEmail" parameterType="string" resultType="boolean">
        SELECT EXISTS(
            SELECT 1
            FROM user_info u
            WHERE u.email = #{email}
        )
    </select>

    <select id="existsNickname" parameterType="string" resultType="boolean">
        SELECT EXISTS(
            SELECT 1
            FROM user_info u
            WHERE u.nickname = #{nickname}
        )
    </select>

    <insert id="insertUser" parameterType="com.earth_chat.user.vo.UserVo" useGeneratedKeys="true" keyColumn="user_seq" keyProperty="userSeq">
        INSERT INTO user_info
        (
            nickname,
            email,
            pwd,
            translate_code,
            user_status,
            reg_dt,
            mod_dt
        )
        VALUES
        (
            #{nickname},
            #{email},
            #{pwd},
            #{translateCode},
            #{userStatus},
            NOW(),
            NOW()
        )
    </insert>

    <select id="selectUserByEmail" resultType="com.earth_chat.user.vo.UserVo" parameterType="string">
        SELECT
            u.user_seq,
            u.email,
            u.nickname,
            u.pwd,
            u.use_yn,
            u.translate_code,
            u.user_status,
            u.reg_dt,
            u.mod_dt
        FROM user_info u
        WHERE u.email = #{email}
        AND u.use_yn = 'Y'
    </select>

    <select id="selectUserByUserSeq" resultType="com.earth_chat.user.vo.UserVo" parameterType="long">
        SELECT
            u.user_seq,
            u.email,
            u.nickname,
            u.pwd,
            u.use_yn,
            u.translate_code,
            u.user_status,
            u.reg_dt,
            u.mod_dt
        FROM user_info u
        WHERE u.user_seq = #{userSeq}
        AND u.use_yn = 'Y'
    </select>

    <select id="selectRolesByUserSeq" resultType="com.earth_chat.user.vo.RoleVo" parameterType="long">
        SELECT
            r.role_seq,
            r.role_name,
            r.admin_yn
        FROM user_role ur
        INNER JOIN role_info r
        ON ur.role_seq = r.role_seq
        WHERE ur.user_seq = #{userSeq}
    </select>

    <select id="selectUserRoles" resultType="com.earth_chat.user.vo.RoleVo">
        SELECT
            r.role_seq,
            r.role_name
        FROM role_info r
        WHERE r.admin_yn = 'N'
    </select>

    <insert id="insertUserRole" parameterType="com.earth_chat.user.vo.UserVo">
        INSERT INTO user_role (user_seq, role_seq)
        VALUES
        <foreach collection="roleList" item="role" separator=",">
            (#{userSeq}, #{role.roleSeq})
        </foreach>
    </insert>

    <update id="updateUserInfo" parameterType="com.earth_chat.user.vo.UserVo">
        UPDATE user_info
        SET user_status = #{userStatus},
            use_yn = #{useYn},
            translate_code = #{translateCode},
            mod_dt = NOW()
        WHERE user_seq = #{userSeq}
    </update>

    <update id="updateUserPassword" parameterType="com.earth_chat.user.vo.UserVo">
        UPDATE user_info
        SET pwd = #{pwd},
            mod_dt = NOW()
        WHERE user_seq = #{userSeq}
    </update>
</mapper>