<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.earth_chat.auth.mapper.EmailAuthInfoMapper">

    <insert id="insertEmailAuthInfo" parameterType="com.earth_chat.auth.vo.EmailAuthInfoVo" useGeneratedKeys="true" keyProperty="mailAuthSeq" keyColumn="mail_auth_seq">
        INSERT INTO email_auth_info
        (
            email,
            auth_num,
            expired_dt,
            use_yn,
            reg_dt
        )
        VALUES
        (
            #{email},
            #{authNum},
            #{expiredDt},
            #{useYn},
            #{regDt}
        )
    </insert>

    <select id="selectEmailAuthInfoByEmail" resultType="com.earth_chat.auth.vo.EmailAuthInfoVo" parameterType="string">
        SELECT
            e.mail_auth_seq,
            e.email,
            e.auth_num,
            e.expired_dt,
            e.use_yn
        FROM email_auth_info e
        WHERE e.email = #{email}
        AND e.use_yn = 'Y'
    </select>

    <update id="updateEmailAuthInfo" parameterType="com.earth_chat.auth.vo.EmailAuthInfoVo">
        UPDATE email_auth_info
        SET use_yn = #{useYn}
        WHERE mail_auth_seq = #{mailAuthSeq}
    </update>
</mapper>